@page "/write-journal"

@inject SQLiteService Db
@inject NavigationManager Navigation
@inject AuthStateService Auth

<h1>Write Journal</h1>

<textarea @bind="content"
          rows="10"
          style="width:100%"
          placeholder="Write your thoughts here...">
</textarea>

<br><br>

<button @onclick="SaveEntry">Save Entry</button>

<p style="color:red">@message</p>

@code {
    private string content = "";
    private string message = "";
    private string currentUserEmail = "";

    protected override async Task OnInitializedAsync()
    {
        //AUTH GUARD
        if (Auth.CurrentUser == null)
        {
            Navigation.NavigateTo("/login", true);
            return;
        }

        currentUserEmail = Auth.CurrentUser.Email;
        await Task.CompletedTask;
    }

    private async Task SaveEntry()
    {
        if (string.IsNullOrWhiteSpace(content))
        {
            message = "Journal cannot be empty.";
            return;
        }

        var entry = new JournalEntry
        {
            UserEmail = currentUserEmail,
            Content = content,
            DateTicks = DateTime.Now.Ticks
        };

        await Db.AddEntryAsync(entry);
        
        // After writing, go to history
        Navigation.NavigateTo("/journal-history");
    }
}